<%= show_errors_for(review)%>
<ul>
    <%= form_for review do |f| %>
    <%= f.collection_select :game_id, Game.all, :id, :title, include_blank: true %>
<li>
    <%= f.label :rating %>
    <%= f.text_field :rating, placeholder: "rating (1-5)" %><br>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "content" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
 </li>   
<%= f.submit %>
</ul>
<% end %>